{
  "extends": [
    "standard",
    "prettier",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest"
  ],
  "globals": {
    "customElements": true,
    "HTMLElement": true,
    "browser": true,
    "context": true,
    "page": true
  },
  "rules": {
    "space-before-function-paren": 0,
    "comma-dangle" : [2, "always-multiline"],
    "semi": [2, "never"],
    "no-extra-semi": 2,
    "jsx-quotes": [2, "prefer-single"]
  },
  "overrides": [
    {
      "files": [ "bin/*.js", "lib/*.js" ],
      "excludedFiles": "*.html",
      "rules": {
        "quotes": [ 2, "single" ]
      }
    }
  ]
}

